@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFC3C3; 
    
  }

  .pacifico-font {
    font-family: 'Pacifico', cursive;
  }

  .concert-one-font{
    font-family: 'concert-one', cursive;
  }

  